.pdfreader-pdfDocument {
  background: transparent;
  min-width: fit-content;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.pdfreader-pdfPage {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1.4142;
}
